MODEL_CHAT = "qwen2.5:14b"
MODEL_EMB = "bge-m3"

HOST_POSTGRE = "localhost"
PORT_POSTGRE = "5432"
DATABASE_PORTGRE = "WikiDB"
USER_POSTGRE = "admin"
PASSWORD_POSTGRE = "admin123"

CHAT_API_SERVER = 
EMBED_API_SERVER =
MIN_SCORE_RECHIEVAL = "0.55"
